<div ng-controller="MainCtrl">
<md-dialog class="fullscreen-dialog" aria-label="Full Screen Dialog Test">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="closeDialog()">
            <md-icon class="fa fa-times fa-2x"></md-icon>
          </md-button>
          <h2 flex="flex">Editar</h2>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <form name="form"></form>
        <div layout="layout" layout-sm="column">
          <md-input-container style="width:80%">
            <label>Autor</label>
            <input ng-model="modelo.libro.autor" placeholder="{{data.autor}}"/>
          </md-input-container>
        <md-input-container style="width:80%">
            <label>Titulo</label>
            <input ng-model="modelo.libro.titulo" placeholder="{{data.titulo}}"/>
          </md-input-container>
        <md-input-container style="width:80%">
            <label>{{data.isbn}}</label>
            <input ng-model="modelo.libro.isbn"/>
          </md-input-container>
          <md-input-container style="width:80%">
            <label>{{data.editorial}}</label>
            <input ng-model="modelo.libro.editorial"/>
          </md-input-container>              
          </div>
           <td>
        <span class="input-group-btn"> <button class="btn btn-primary" ng-click="edit(modelo.libro.autor)">Modificar</button></span>
        </td>
    </md-dialog-content>
</md-dialog>
</div>