<div ng-controller="MainCtrl">
<div class="page-header">
  <h1>Lista Libros</h1>
</div>

<div class="panel">
  <div class="input-group">
    <div class="form-group">
      <label>Autor:</label>
      <input class="form-control" ng-model="autorT"/>
    </div>
    <div class="form-group">
      <label>Título:</label>
      <input class="form-control" ng-model="tituloT"/>
    </div>
    <div class="form-group">
      <label>ISBN:</label>
      <input class="form-control" ng-model="isbnT"/>
    </div>
    <div class="form-group">
      <label>Editorial:</label>
      <input class="form-control" ng-model="editorialT"/>
    </div>
    <div class="form-group">
      <label>Año Publicación:</label>
      <input class="form-control" ng-model="anioPT"/>
    </div>
    <div class="form-group">
      <label>Numéro Edición:</label>
      <input class="form-control" ng-model="numEdT"/>
    </div>
    <div class="form-group">
      <label>Tipo de Pasta:</label>
      <input class="form-control" ng-model="pastaT"/>
    </div>
    <div class="form-group">
      <label>Costo:</label>
      <input class="form-control" ng-model="costoT"/>
    </div>
    <div class="form-group">
      <label>Proveedores:</label>
      <input class="form-control" ng-model="proveedorT"/>
    </div>
    <div class="form-group">
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="addBook(autorT, tituloT, isbnT, editorialT, anioPT, numEdT, pastaT, costoT, proveedorT)">Añadir</button>
      </span>
    </div>
  </div>
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Usuario</th>
        <th>Autor</th>
        <th>Título</th>
        <th>ISBN</th>
        <th>Editorial</th>
        <th>Año Publicación</th>
        <th>Num Edición</th>
        <th>Tipo de Pasta</th>
        <th>Costo</th>
        <th>Proveedores</th>
        <th>Estatus</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="l in modelo.libro">
        <td>{{l.fecha}}</td>
        <td>{{l.usuario}}</td>
        <td>{{l.autor}}</td>
        <td>{{l.titulo}}</td>
        <td>{{l.isbn}}</td>
        <td>{{l.editorial}}</td>
        <td>{{l.anioP}}</td>
        <td>{{l.numEd}}</td>
        <td>{{l.pasta}}</td>
        <td>{{l.costo}}</td>
        <td>{{l.proveedor}}</td>
        <td>{{l.estatus}}</td>
        <td><input type="checkbox" ng-model="l.estatus"/></td>
      </tr>
    </tbody>
  </table>
</div>
</div>